@import "../../../../../styles/colors.scss";

.footer_list__title {
    margin-bottom: 20px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $darkGray;

    @media (max-width: 435px) {
        font-size: 1.2rem;
    }
}

.footer_list {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.2;
    color: $liteText;

    & li {
        margin-bottom: 10px;
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: $orange;
        }
    }

    @media (max-width: 435px) {
        font-size: 1.4rem;
    }
}
